# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Scripts
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf

# Binary assets
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
*.ico binary
*.zip binary
*.tar binary
*.gz binary
*.bz2 binary
*.7z binary
*.pdf binary
