name: Greetings

on: [pull_request_target, issues]

permissions:
  contents: read

jobs:
  greeting:
    permissions:
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/first-interaction@v3
        with:
          issue-message: "Thanks for opening your first issue in ABShelfLife. Please make sure you used the correct issue template."
          pr-message: "Thanks for your first pull request. Please ensure the PR template is fully filled."
          repo-token: ${{ secrets.GITHUB_TOKEN }}
